@model OnlineExam.Endpoint.WebUI.Models.Exams.QuestionViewModel


<form id="GenForm">

    <input name="Text" type="text" />
    <br />
    <input id="btnAdd" type="button" value="add" onclick="AddTextBox()" />
    <br />
    <br />
    <div id="TextBoxContainer">

    </div>
    <br />
    <input type="submit" id="btnGetData" value="Submit" />

</form>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>


<script>
    $("#btnGetData").click(function () {
        var formData = $('#GenForm').serialize();
        $.ajax({
            type: 'POST',
            url: '/Take/Take2',
            data: formData,
            dataType: 'json',
            success: function (data) {
            }
        });
        return false;
    });
</script>



<script type="text/javascript">
    function GetDynamicTextBox(value) {
        var div = $("<div />");

        var textBox = $("<input />").attr("type", "textbox").attr("name", "Choices");
        textBox.val(value);
        div.append(textBox);

        var button = $("<input />").attr("type", "button").attr("value", "Remove");
        button.attr("onclick", "RemoveTextBox(this)");
        div.append(button);

        return div;
    }
    function AddTextBox() {
        var div = GetDynamicTextBox("");
        $("#TextBoxContainer").append(div);
    }

    function RemoveTextBox(button) {
        $(button).parent().remove();
    }
</script>