@model OnlineExam.Endpoint.WebUI.Models.Exams.QuestionViewModel


    <form asp-action="Take2" asp-controller="Take" method="post">

        <input id="" type="text"   asp-for="Text" />
        <br />
        <input id="btnAdd" type="button" value="add" onclick="AddTextBox()" />
        <br />
        <br />
        <div id="TextBoxContainer">

        </div>
        <br />
        <input type="submit" value="Submit" />

    </form>



<script type="text/javascript">
    function GetDynamicTextBox(value) {
        var div = $("<div />");

        var textBox = $("<input />").attr("type", "textbox").attr("name", "DynamicTextBox");
        textBox.val(value);
        div.append(textBox);

        var button = $("<input />").attr("type", "button").attr("value", "Remove");
        button.attr("onclick", "RemoveTextBox(this)");
        div.append(button);

        return div;
    }
    function AddTextBox() {
        var div = GetDynamicTextBox("");
        $("#TextBoxContainer").append(div);
    }

    function RemoveTextBox(button) {
        $(button).parent().remove();
    }
</script>