
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="    https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css
" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" />

   
    <link rel="stylesheet" type="text/css" href=" https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />




    <link rel="stylesheet" href="~/css/style.css">


</head>
<body>
    <header>
        <figure class="brand">آزمون آنلاین</figure>
        <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>
            @if (User.IsInRole("admin"))
            {
                <ul>
                    <li>
                        <a asp-controller="UserAccount" asp-action="Index">خانه </a>
                    </li>
                    <li>
                        <a asp-controller="Course" asp-action="Index">لیست درس ها </a>
                    </li>
                    <li>
                        <a asp-controller="UserAccount" asp-action="AddAdmin"> اضافه کردن ادمین </a>
                    </li>
                    <li>
                        <a asp-controller="Course" asp-action="Index">لیست درس ها </a>
                    </li>
                    <li>
                        <a asp-controller="UserAccount" asp-action="Logout">خروج</a>
                    </li>
                </ul>
            }
            else
            {
                <ul>
                    <li>
                        <a asp-controller="UserAccount" asp-action="Index">خانه </a>
                    </li>
                    <li>
                        <a asp-controller="TakeExam" asp-action="ExamResults">لیست نتایج آزمون  </a>
                    </li>
                    <li>
                        <a asp-controller="Course" asp-action="Index">لیست درس ها </a>
                    </li>
                    <li>
                        <a asp-controller="Course" asp-action="Index">لیست درس ها </a>
                    </li>
                    <li>
                        <a asp-controller="UserAccount" asp-action="Logout">خروج</a>
                    </li>
                </ul>
            }

        </nav>
    </header>


    <div id="main">
        @RenderBody()
    </div>



    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>


    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>



    <script src="~/js/scripts.js"></script>

</body>
</html>
