@model OnlineExam.Domain.Core.Courses.Course

@{
    ViewData["Title"] = "اضافه کردن درس";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-5 p-5 shadow">
        <h1 class="main-title"> ایجاد درس جدید  </h1>
        <hr class="seprator-hr" />
        <form asp-action="Create" method="post" class="mt-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group text-left">
                <input type="submit" value="ثبت" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
