
@model OnlineExam.Endpoint.WebUI.Models.Exams.QuestionViewModel
@{ OnlineExam.Domain.Core.Exams.Exam exams = ViewBag.Exam;}


@{
    ViewData["Title"] = "اضافه کردن سوال";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-5 shadow p-5">
        <h1 class="main-title">
            <span class="courselable"> امتحان : </span>
            <span class="coursename">@exams.Name</span>
        </h1>
        <hr class="seprator-hr" />

        <form asp-action="AddQuestion">
            <div class="form-group">
                <label asp-for="Text" class="control-label">متن سوال:</label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>

            <div class="form-group ">
                @for (int i = 0; i < 4; i++)
                {
                    <div class="row mt-3 mx-0 question-box">
                        
                        <input type="checkbox" asp-for="Choices[i].IsCorrect" class="float-right" />
                        <input class="form-control float-left " asp-for="Choices[i].Text" />

                    </div>
                }

            </div>


            <div class=" form-group text-left">
                <input asp-route-examId=@exams.Id type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


