@model OnlineExam.Endpoint.WebUI.Models.Exams.QuestionViewModel
@{ OnlineExam.Domain.Core.Exams.Exam exams = ViewBag.Exam;}
@{
    ViewData["Title"] = "AddQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddQuestion</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddQuestion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExamId" value=@exams.Id class="form-control" />
           

            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-route-examId=@ViewBag.Exam type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

