
@model OnlineExam.Endpoint.WebUI.Models.Exams.QuestionViewModel
@{ OnlineExam.Domain.Core.Exams.Exam exams = ViewBag.Exam;}


@{
    ViewData["Title"] = "AddQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<span class="courselable"> امتحان : </span>
<span class="coursename">@exams.Name</span>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddQuestion">
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>

            <div class="form-group">

                <input type="button" value="AddQuestion" onclick="AddTextBox()" />
                <div id="divCont">

                </div>
                <input type="submit" value="submit" />
                @for (int i = 0; i < 4; i++)
                {
                    <input class="form-control" asp-for="Choices[i].Text" />

                    <input type="checkbox" asp-for="Choices[i].IsCorrect" />

                }
              
            </div>


            <div class=" form-group">
                <input asp-route-examId=@exams.Id type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



