@model IEnumerable<OnlineExam.Domain.Core.ExamQuestions.ExamQuestion>
@{ OnlineExam.Domain.Core.Exams.Exam exams = ViewBag.Exam;}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<a href="@Url.Action("AddQuestion", "ExamQuestion" ,new {examId=  exams.Id })" class="btn btn-warning">
    اضافه کردن سوال
</a>


<table class="table">
    <thead>
        <tr>

            <td>
                @Html.DisplayNameFor(model => model.Question.Text)
            </td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Question.Text)
                </td>

                @{
                    var choices = item.Question.QuestionChoices.Select(x => x.Choice.Text);

                    foreach (var choice in choices)
                    {
                        <td>
                            @choice
                        </td>
                    }
                    <td>
                    </td>


                }
            </tr>
        }
    </tbody>
</table>
