@model OnlineExam.Endpoint.WebUI.Models.Exams.ExamViewModel
@{ OnlineExam.Domain.Core.Courses.Course course = ViewBag.Course;}
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row  d-flex justify-content-center align-items-center ">
    <div class="col-md-5 shadow p-5">
        <form asp-action="Create">
            <input type="hidden" asp-for="CourseId" value=@course.Id />
            <h1 class="main-title">
                ایجاد آزمون برای درس
                @course.Name
            </h1>
            <hr class="seprator-hr mb-3" />
           

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" autocomplete="off" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" autocomplete="off" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input type="number" asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>

            <div class="form-group text-left">
                <input type="submit" value="ثبت" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>




