@model IEnumerable<OnlineExam.Domain.Core.Exams.Exam>
@{OnlineExam.Domain.Core.Courses.Course course = ViewBag.Course;}

@{
    ViewData["Title"] = "لیست آزمونها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.IsInRole("admin"))
{
    <input id="courseIdInExamDatatable" type="hidden" value="@course.Id" />
    <div class="row  d-flex justify-content-center align-items-center ">
        <div class="col-md-10  p-3 text-justify">
            <span class="courselable"> درس: </span>
            <span class="coursename">@course.Name</span>
            <table id="GetAllExamsDataTablesforAdmin" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>نام آزمون</th>
                        <th>تاریخ شروع</th>
                        <th>تاریخ پایان</th>
                        <th>زمان امتحان</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
}
else
{
    <input id="courseIdInExamDatatable" type="hidden" value="@course.Id" />
    <div class="row  d-flex justify-content-center align-items-center ">
        <div class="col-md-10  p-3 text-justify">
            <span class="courselable"> درس: </span>
            <span class="coursename">@course.Name</span>
            <table id="GetAllExamsDataTablesforUser" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>نام آزمون</th>
                        <th>تاریخ شروع</th>
                        <th>تاریخ پایان</th>
                        <th>زمان امتحان</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

}
