@model OnlineExam.Endpoint.WebUI.Models.UserApp.CreateUserViewModel


@{
    ViewData["Title"] = "اضافه کردن ادمین ";

}


<div class="login-box">
    <div class="login-title">
        <i class="fa fa-user-plus  login-icon"></i>
    </div>
    <div class="addadmintext p-3">
        برای اضافه کردن ادمین مشخصات را وارد کنید.
    </div>   
    <div class="login-form">
        <form asp-action="AddADmin" method="post">
            <div class="form-group">
                <label asp-for="Name" class="login-lable"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="login-lable"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="login-lable"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn bg-bluecolor btn-block"> ثبت ادمین</button>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

        </form>
    </div>

</div>


