@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (User.IsInRole("admin"))
{

}
else
{


    <div>
        <a asp-controller="Course" asp-action="Index">لیست درس ها </a>
    </div>
}

