@model OnlineExam.Domain.Core.AppUsers.MyLoginModel
<link rel="stylesheet" href="~/vendor/bootstrap.css">
<link rel="stylesheet" href="~/css/style.css">
@{
    ViewData["Title"] = "Accont";
    Layout = null;
}

<div class="login-box">
    <h1>Accont</h1>

    <h4>LoginModel</h4>
    <hr />
   
        <div class="login-form">
            <form  asp-action="Login" asp-controller="UserAccount" method="post">
                @*<div class="imgcontainer">
                        <img src="img_avatar2.png" alt="Avatar" class="avatar">
                    </div>*@
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="form-group">
                    <input asp-for="Name" type="text" class="form-control form-control-user" placeholder=" name...">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" type="password" class="form-control form-control-user" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <button class="btn bg-bluecolor  btn-block" type="submit">Log In</button>



            </form>
        </div>
   

</div>
