* {
    padding: 0;
    margin: 0;
}

body {
    direction: rtl;
    text-align: right;
}

a {
    text-decoration: none;
    text-decoration-line: none;
}

li {
    list-style: none;
}

.hr {
    border-top: 1px solid rgba(86, 116,154,69);
}

.seprator-hr {
    color: #dcdcdc
}

.bg-bluecolor {
    background: #384d98;
    color: #efefef
}

.main-title {
    color: #303ea7;
    font-size: 1.5rem
}

.main-btn {
    background: #384d98;
    width: 160px;
    height: 40px;
    display: inline-block;
    border-radius: 10px;
    color: white;
}

    .main-btn:hover {
        color: #fff
    }


header {
    width: 100%;
    height: 52px;
    line-height: 50px;
    text-align: center;
    font-family: sans-serif;
    background-color: #044086;
    color: #fff;
}

.brand {
    width: auto;
    height: 100%;
    float: left;
    margin: 0 0 0 5%;
}

.menu {
    width: 60%;
    height: 100%;
    float: right;
}

    .menu ul {
        width: 100%;
        height: inherit;
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

        .menu ul li {
            width: 15%;
            display: inline-block;
        }

            .menu ul li a {
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                display: inline-block;
                text-decoration-line: none
            }

                .menu ul li a :hover {
                    border-bottom: 1px solid white
                }

#menuToggle {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        height: auto;
    }

        .menu ul {
            display: block;
            max-height: 0;
            overflow: hidden;
            -webkit-transition: max-height 0.3s;
            -moz-transition: max-height 0.3s;
            -o-transition: max-height 0.3s;
            transition: max-height 0.3s;
        }

            .menu ul li {
                text-align: right;
                width: 100%;
                height: 52px;
                background-color: #044086;
                border-top: 1px solid #1f0b71
            }

                .menu ul li a {
                    padding: 0px 5% 0px;
                    width: 100%;
                    text-decoration-line: none;
                    color: #fff;
                }

    .menu-icon {
        width: 100px;
        height: inherit;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 60px;
    }

    #menuToggle:checked ~ ul {
        max-height: 350px;
    }

    .menu-icon i {
        font-size: 1.7em;
    }
}


#main {
    transition: margin-left 0.5s;
    padding: 16px;
    padding-top: 50px
}


.mainpagebox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mainbtn {
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    width: 120px;
    border: 2px solid #e96b56;
    background: #e96b56;
}

    .mainbtn:hover {
        background: #fff;
        color: #e96b56
    }

.login-form .form-control {
    margin: 10px 0 15px 0px;
    border: 1px solid #6a879c;
}

.login-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    width: 26%;
    padding: 0 0 30px 0;
    border: 1px solid #4970b7;
}

.login-title {
    background: #384d98
}

.login-icon {
    font-size: 100px;
    color: #fff;
    padding: 10px;
}

.login-form {
    text-align: center;
}

    .login-form form {
        width: 85%;
        text-align: center;
        display: inline-block;
    }

.login-lable {
    display: block;
    text-align: right;
}

.login-box button, .login-box {
    margin: 40px 0 20px 0;
}

.courselable {
    font-size: 30px;
    font-weight: 600;
    color: #384d98;
}

.coursename {
    font-size: 25px;
    font-weight: 400;
    color: #878ea5;
}

.choicebox {
    padding: 20px;
}


.choice-True {
    color: #3ccc7b
}


* {
    outline: none !important
}

.question-box input[type="text"] {
    border: 0;
    border-bottom: 1px solid #ccc;
    width: calc(100% - 30px);
    border-radius: 0;
    outline: none !important;
    box-shadow: none !important
}

.question-box input[type="checkbox"] {
    width: 29px;
    margin-top: 20px
}

.question-box input[type="text"]:focus {
    border: 0;
    border-bottom: 1px solid #384d98;
    outline: none !important;
    box-shadow: none !important
}

.result-box {
    text-align: center;
    font-size: 25px;
    border: 1px solid;
    margin: 0 30%;
    padding: 60px 0;
    box-shadow: 5px 5px 15px 5px #c1d2ff;
}

.timerbox {
    width: 230px;
    background: #e8efff;
    height: 100px;
    position: fixed;
    left: 50px;
    text-align: center;
}

.timercounter{
    text-align:center;
    font-size : 30px
}

.adminaddtext {
    font-size: 18px;
    margin: 10px;
    font-weight: 500;
    color: #5c72bf;
}


.course-box {
    background-color: #edf0f5;
    box-shadow: 1px 1px #7e8fcc;
}
.course-name {
    color: #ba72d8;
    font-size: 20px;
    padding: 3px;
}
.course-description{
    font-size:inherit
}
.course-exam-btn {
    background-color: #e8ebff;
    color: #470c6b;
    width: 100px;
    display: inline-block;
    padding: 6px;
    margin: 10px 0 0 0;
}