
@{
    ViewData["Title"] = "خوش آمدید";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>به تست آنلاین خوش امدید</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="~/vendor/bootstrap.css">

    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>







    <div class="">
        <div class="row">
            <div class="col-md-7">
                <img src="~/images/mainPage.jpg" style="width:100%" />
            </div>
            <div class="col-md-5 ">
                <div class="mainpagebox">
                    <h2 class="mainpageheader">به تست آنلاین خوش آمدید</h2>
                    <p class="mainpagedescription">
                         در این سایت شما میتوانید مهارت های برنامه نویسی خود را بسنجید . 
                    
                    </p>
                    @*<p>
                        برای مشاهده ی آزمون ها وارد سایت شوید . 
                    </p>*@
                    <a asp-controller="UserAccount" asp-action="Login" class="mainbtn">ورود</a>
                    <a asp-controller="UserAccount" asp-action="SignUp" class=" mainbtn " >ثبت نام </a>
                </div>
              

            </div>
        </div>
       
    </div>


    <script src="~/js/scripts.js"></script>

</body>
</html>
