
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/vendor/bootstrap.css">
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>


    <div class="mainpagebox">
        <h2 class="mainpageheader">به سایت آزمون آنلاین برنامه نویسی خوش آمدید</h2>
        <p class="mainpagedescription">
            در این سایت شما میتوانید مهارت های برنامه نویسی خود را بسنجید
        </p>
        <a asp-controller="UserAccount" asp-action="Login" class="mainbtn">ورود</a>
        <a asp-controller="UserAccount" asp-action="SingUp" class="mainbtn">ثبت نام </a>
    </div>


    <script src="~/js/scripts.js"></script>

</body>
</html>
