@model OnlineExam.Endpoint.WebUI.Models.Exams.GiveExamViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<p>
    <a asp-action="Create">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExamId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>


                    @{
                        var choices = item.QuestionChoices.Select(c => c.Choice);
                        @foreach (var choice in choices)
                        {
                            @choice.Text
                            <br>
                        }
                    }


            </tr>
        }
    </tbody>
</table>

