
@{
    ViewData["Title"] = "در دسترس نیست";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="result-box">
    <div style="color:red">
        <i class="fa fa-frown-o" aria-hidden="true"></i>
    </div>
    <div>
        آزمون در دسترس نیست
    </div>
    <div> لطفا در زمان درست وارد آزمون شوید  </div>
   
</div>

