@model OnlineExam.Endpoint.WebUI.Models.Exams.TakeExamViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <form asp-action="TakeExam" method="post">
        <input type="hidden" asp-for="ExamId" value="@ViewBag.ExamId" />

        @foreach (var item in ViewBag.takeExam)
        {

            @item.Text
            <br />

            //var choices = item.QuestionChoices.Select(c => c.Choice);
            @*@foreach (var choice in choices)
            {
                <div class="d-inline"> @choice.Text</div>

                <input type="checkbox" asp-for="@choice" />
                <br />
            }*@
            <hr />

        }


        <input type="submit" />
    </form>


